html {
    width: 100%;
    height: 100%;
}

body { 
    background-color: lightgray;
}

.button-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    gap: .5rem;
}

input[type="text"] {
    width: 50px; 
    height: auto;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    border-width: 3px;
    border-color: darkgray;
}

#add, 
#subtract {
    width: 40px;
    height: auto;
    background-color: darkgray;
    border-color: darkgray;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
#add:hover, #subtract:hover {
    color: darkgray;
    background-color: white;
}

button:hover {
    transform: scale(1.04);
    cursor: pointer;

}

span {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 50px;
    font-weight: bolder;
}